@import url("./blocks/footer.css");
@import url("./blocks/header.css");
@import url("about.css");

body {
 margin-top: 15vh;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.project__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: .5vw;
}

.project__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  width: 15vw;
  height: 15vw;
}

.project__card_title {
  font-weight: bolder;
}

.project__card_text {
  opacity: 0;
  color: #fff;
}

.project__card:hover .project__card_title {
  color: white;
  text-shadow: 1px 1px 5px #000;
  transition: color 0.6s ease-in-out;
  transition: text-shadow 0.6s ease-in-out;
}

.project__card:hover .project__card_text {
  opacity: 1;
  text-shadow: 1px 1px 5px #000;
  transition: opacity 0.6s ease-in-out;
  transition: text-shadow 0.6s ease-in-out;
}

.project__card:hover {
  border-color: rgb(60, 0, 225);
  box-shadow: 1px 1px 8px #000;
  background-color: rgba(109, 109, 109, 0.781);
  transition: border-color 0.6s ease-in-out;
  transition: box-shadow 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out;
}

.project__card__link {
  text-decoration: none;
  color: black;
}