@import url("./blocks/header.css");
@import url("./blocks/icon.css");
@import url("./blocks/nav.css");
@import url('./blocks/intro.css');
@import url("./blocks/cards.css");
@import url("./blocks/card.css");
@import url("./blocks/project.css");
@import url("./blocks/category.css");
@import url("./blocks/footer.css");
@import url("about.css");

@media (max-width: 3000px) {
body {
 margin: 15vh 0 0 0;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
 background-color: #457F85;
 padding: 0;
}

main {
  min-height: 70vh;
  margin: auto;
}
}

@media (max-width: 720px) {
  body {
    margin: 0 0 0 20vw;
  }
}