.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: .75vw;
    margin: 3vh 0 6vh 0;
  }

  @media (max-width: 720px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
  }