.cards {
    width: 90%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto, 200px);
    column-gap: 1.5vw;
    row-gap: 1vw;
    margin: 3vh auto 6vh auto;
  }

  @media (max-width: 720px) {
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
  }