@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    color: white;
    background-color: #154145;
    font-family: 'Montserrat', sans-serif;
}

.footer__header {
    margin: 1vh;
}

.footer__link {
    margin-bottom: 1vh;
    text-decoration: none;
    font-style: normal;
    color: white;
}