@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
    background-color: #154145;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.header__title {
    margin: auto;
    text-shadow: 0px 0px 3px #0A181A;
    font-size: 3vw;
}

.header__link {
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
}

.header__link:hover {
    color: #02707A;
    text-shadow: 0px 0px 3px #0A181A;
}

/* .nav {
    
} */

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    margin: 0 0 1.5vh;
    padding: 0;
}
