.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2.5vw;
    row-gap: 2.5vh;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon_hover {
    transition: scale 1.0s ease-in-out;
}

.icon_hover:hover {
    transform: scale(1.25);
}

.icon_large {
    width: 100px;
    height: 100px;
}

@media (max-width: 720px) {
    .icons_margin {
        margin-bottom: 10vh;
    }

    .icon {
        width: 75px;
        height: 75px;
    }

    .icon_large {
        width: 75px;
        height: 75px;
    }
}