.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2.5vw;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon_large {
    width: 100px;
}

@media (max-width: 720px) {
    .icons_margin {
        margin-bottom: 10vh;
    }
}