.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3.5vw;
    row-gap: 3.5vh;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.icon_hover {
    transition: scale 1s ease-in-out;
}

.icon_hover:hover {
    transform: scale(1.25);
}

.icon_large {
    width: 100px;
    height: 100px;
}

.icon__text {
    font-size: 13px;
    text-shadow: 1px 1px 1px #94B2B5;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    max-width: 100px;
    margin-top: 20px;
}

.icon_wrapper:hover > .icon__text {
    opacity: 1;
}

@media (max-width: 720px) {
    .icons {
        column-gap: 2.5vw;
        row-gap: 2.5vh;
    }

    .icons_margin {
        margin-bottom: 10vh;
    }

    .icon {
        width: 75px;
        height: 75px;
    }

    .icon_large {
        width: 75px;
        height: 75px;
    }
}