.nav {
    width: 80%;
    margin: auto; 
 }
 
 .nav__list {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     list-style: none;
     text-decoration: none;
     margin: 0 0 1.5vh;
     padding: 0;
 }

 @media (max-width: 720px) {
    .nav {
        margin: auto;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        max-width: 12vw;
        height: 50vh;
        margin: auto;
    }
 }